<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Files Explorer(PHP)</title>

        <link rel="icon" type="image/png" href="asset/img/myicon.png"/>
        <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"> 

        <link rel="stylesheet" href="asset/css/style.css">
        <link rel="stylesheet" href="asset/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    </head>
    <body>

        <header class="text-center" >
            <img class='logo' src='asset/img/forbidder.png'>
        </header>

        <section class="container">

            <h2 class="text-center">Error 403 - Forbidden </h2> 
            <h3 class="text-center">You don't have permission to access on this folder</h3>
            <h3 class="text-center"></h3>
        </section>
    </body>
</html>

